<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="ca.mudar.mtlaucasou"
    android:versionCode="12"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".utils.AppHelper"
        android:theme="@style/Theme.AuCasOu" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:theme="@style/Theme.Dashboard" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:label="@string/app_label_fire_halls"
            android:name=".ui.FireHallsMapActivity" />
        <activity
            android:exported="false"
            android:label="@string/app_label_spvm_stations"
            android:name=".ui.SpvmStationsMapActivity" />
        <activity
            android:exported="false"
            android:label="@string/app_label_water_supplies"
            android:name=".ui.WaterSuppliesMapActivity" />
        <activity
            android:exported="false"
            android:label="@string/app_label_emergency_hostels"
            android:name=".ui.EmergencyHostelsMapActivity" />
        <activity
            android:exported="false"
            android:label="@string/app_label_about"
            android:name=".ui.AboutActivity"
            android:theme="@style/Theme.About" />
        <activity
            android:exported="false"
            android:label="@string/app_label_preferences"
            android:name=".ui.widgets.MyPreferenceActivity"
            android:theme="@style/Theme.Preferences" />

        <uses-library android:name="com.google.android.maps" />

        <service android:name=".service.SyncService" />

        <provider
            android:authorities="ca.mudar.mtlaucasou.data"
            android:name=".provider.PlacemarkProvider" />
    </application>

</manifest>